body {
  margin: 0;
  overflow: hidden;
  background-color #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#gameCanvas {
  background-color: black;
  border: 2px solid white;
}
